<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <div class="main">
    {{>navbar2}}
    <div class="mm2">
      <div class="container">
        <div class="left-side">
          <h2>TRAVEL IS THE ONLY THING YOU BUY THAT MAKES YOU RICHER</h2>
        </div>
        <div class="right-side">
          <h1>Forget passoword</h1>
         
          <form action="/forgotpassword" method="post">
            <div class="input-group">
              <label>Username:</label>
              <input type="text" name="username" placeholder="Enter your Username" />
            </div>
            <div class="input-group">
              <label>email:</label>
              <input type="text" name="email" placeholder="Enter your email" />
            </div>
            <div class="input-group">
              <label>New Password</label>
              <input type="password" name="password" placeholder="Enter your password" />
            </div>
            <button type="submit" class="enter-btn">Reset</button>
        </div>
        </form>
      </div>
    </div>
  </div>


  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>

{{>footer}}
</body>

</html>